@import "tailwindcss";

@theme {
  --color-primary: #1855a1;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
  --color-accent-green: #22c55e;
  --font-display: var(--font-epilogue), ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
